@font-face {
	font-family: 'Chivo';
	src: url(chivo/chivo_regular.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo';
	src: url(chivo/chivo_bold.ttf);
	font-weight: bold;
	font-style: normal;
}