@import "../variables.scss"; 
@import "../mixins.scss";
@import "../base.scss";
@import "../buttons/buttons.scss";

#cart-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $app-greyoverlay;
	opacity: 0.75;
	z-index: 10;
} 