/* Color Variables */
/* Font Variables */
/* Opacity Variables */
/* Layout Variables */
/* MIXIN: display div with pill style */
/* MIXIN: give primary button style. This is just pill style
 * but, specifies no border. Mostly just exists for ease of code resuse
 */
/* MIXIN: Apply pill button stle to only left or right sides as specified for the 
 * secondary button styles in the sketch file
 */
/* MIXIN: Lower the opacity to indicate an element is disabled*/
/* MIXIN: Change background-color on hover, but only when element is not disabled */
/* MIXIN: Standard Styling for div background images. Exists seperately from
 * the backImage mixin so background image url can be specified in the html
 * properties
 */
/* MIXIN: Standard Styling for div background images. Gives the div the background-image
 * specified by the path '$image'
 */
/* MIXIN: Standard thin horizontal rule stylings. Gives the rule the color specified by
 * $line-color
 */
/* General body styles. These should not need to be changed
 * for any reason by the application
 */
body {
  background-color: #F5F5F5;
  font-family: Chivo, sans-serif;
  font-weight: normal;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0px;
  padding: 0px; }

/* remove focus boxes around all buttons */
button {
  cursor: pointer;
  font-family: Chivo, sans-serif; }
  button:focus {
    outline: 0; }

/* buttons.scss: Styling for the various buttons */
/* NOTE: I've noticed I've been using Chivo a lot.
 * Consider moving to some super class to avoid repeated font-family declarations
 */
/* ===================== Page display Styles. ===================== */
/* These are irrelevant to the actual button styling CSS*/
section {
  margin: 50px 20px; }

body {
  background-color: white; }

/* ================================================================ */
/* styling the primary button style */
.btn-primary {
  background-color: #5E97D1;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: Chivo, sans-serif;
  width: 120px;
  margin: 0;
  padding: 0;
  height: 30px;
  border-radius: 15px;
  border: none; }
  .btn-primary:hover:not([disabled]), .btn-primary:active:not([disabled]) {
    background-color: #407FC0; }
  .btn-primary[disabled] {
    opacity: 0.3; }
  @media only screen and (min-width: 768px) {
    .btn-primary {
      font-size: 14px;
      width: 140px;
      height: 40px;
      border-radius: 20px;
      border: none; } }

/* styling the link button style. */
.btn-link {
  color: #292929;
  font-family: Chivo, sans-serif;
  font-size: 14px;
  text-decoration: none;
  /* text only changes color on hover/active when not disabled */ }
  .btn-link:hover:not([disabled]), .btn-link:active:not([disabled]) {
    color: #407FC0; }
    .btn-link:hover:not([disabled]) svg path, .btn-link:active:not([disabled]) svg path {
      fill: #5E97D1; }
  .btn-link[disabled] {
    opacity: 0.3; }

/* Styling the Add/Subtract secondary buttons */
/* The styling somewhat relies on the container div that contains the buttons
 */
/* Styling the container div for the Add/subtract buttons. */
.add-subtract {
  width: 100%; }

/* placeholder selector for styles shared by both left and right secondary buttons */
.btn-secondary-left, .btn-secondary-right {
  text-align: center;
  vertical-align: top;
  background-color: #F5F5F5;
  width: 33%;
  display: inline-block; }
  .btn-secondary-left:hover:not([disabled]), .btn-secondary-right:hover:not([disabled]), .btn-secondary-left:active:not([disabled]), .btn-secondary-right:active:not([disabled]) {
    background-color: #5E97D1; }
  [disabled].btn-secondary-left, [disabled].btn-secondary-right {
    opacity: 0.3; }
  .btn-secondary-left svg, .btn-secondary-right svg {
    vertical-align: middle; }
  .btn-secondary-left svg, .btn-secondary-right svg {
    fill: white; }
  .btn-secondary-left:hover:not([disabled]) svg path, .btn-secondary-right:hover:not([disabled]) svg path, .btn-secondary-left:active:not([disabled]) svg path, .btn-secondary-right:active:not([disabled]) svg path {
    fill: white;
    stroke: white; }

/* left secondary button stylings. extends %btn-secondary and adds all left specific styles */
.btn-secondary-left {
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border: none; }
  .btn-secondary-left g {
    fill: white; }

/* right secondary button stylings. extends %btn-secondary and adds all right specific styles */
.btn-secondary-right {
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  border: none; }

/* styling the item count div */
.item-count {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 34%;
  height: 38px;
  /* total height of the container div and buttons are,
   * the border on top and bottom of the item-count div are each 1px, so
   * height of the count div must be 38 px to display perfectly inline with side buttons
   */
  background-color: white;
  line-height: 38px;
  /* line height same as div height to require text to display at vertical center */
  border-style: solid none solid none;
  border-color: #F5F5F5;
  border-width: 1px; }

#main {
  /* These styles need to be added to the main div when the cart overlay is displayed
   * so the layer beneath does not scroll if the page overflows the height of the
   * viewport, which it's basically guaranteed to do.
   */
  overflow: hidden;
  position: fixed; }

#cart-overlay {
  background-color: rgba(236, 240, 245, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden; }
  @media only screen and (min-width: 1280px) {
    #cart-overlay {
      overflow-y: scroll; } }

.cart-root {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 18px 0 45px 0; }
  @media only screen and (min-width: 768px) {
    .cart-root {
      padding: 25px 0 50px 0; } }
  @media only screen and (min-width: 1280px) {
    .cart-root {
      width: 780px;
      height: auto;
      margin: 175px auto;
      padding: 30px 0 0 0;
      border-radius: 14px; } }

.cart-main {
  margin: 0 17px;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .cart-main {
      margin: 0 50px; } }
  @media only screen and (min-width: 1280px) {
    .cart-main {
      margin: 0 80px;
      height: auto;
      min-height: 608px; } }
  .cart-main hr {
    border: 0;
    height: 1px;
    color: #D8D8D8;
    background-color: #D8D8D8;
    margin: 20px 0; }
    @media only screen and (min-width: 768px) {
      .cart-main hr {
        margin: 25px 0; } }
    @media only screen and (min-width: 1280px) {
      .cart-main hr {
        margin: 30px 0; } }
  .cart-main .add-subtract {
    margin: 20px 0; }
    @media only screen and (min-width: 768px) {
      .cart-main .add-subtract {
        margin: 25px 0; } }
    @media only screen and (min-width: 1280px) {
      .cart-main .add-subtract {
        margin: 30px 0; } }

.close-cart {
  height: 20px;
  margin-bottom: 10px; }
  .close-cart img {
    cursor: pointer;
    height: 100%;
    float: right;
    margin-right: 18px; }
  @media only screen and (min-width: 768px) {
    .close-cart {
      height: 25px; }
      .close-cart img {
        margin-right: 25px; } }
  @media only screen and (min-width: 1280px) {
    .close-cart {
      height: 30px; }
      .close-cart img {
        margin-right: 30px; } }

.checkout-btn {
  color: white;
  background-color: #5E97D1;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  height: 45px;
  bottom: 0;
  left: 0;
  position: fixed; }
  .checkout-btn:hover:not([disabled]), .checkout-btn:active:not([disabled]) {
    background-color: #407FC0; }
  .checkout-btn[disabled] {
    opacity: 0.3; }
  @media only screen and (min-width: 768px) {
    .checkout-btn {
      font-size: 16px;
      height: 50px; } }
  @media only screen and (min-width: 1280px) {
    .checkout-btn {
      position: relative; } }

.update-btn {
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 768px) {
    .update-btn {
      height: 45px;
      font-size: 16px; } }
  .update-btn[disabled] {
    opacity: 0.3; }
  .update-btn:hover:not([disabled]), .update-btn:active:not([disabled]) {
    border-color: #9B9B9B; }

.cart-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px; }
  @media only screen and (min-width: 768px) {
    .cart-heading {
      font-size: 32px; } }
  @media only screen and (min-width: 1280px) {
    .cart-heading {
      font-size: 38px; } }

.receipt-item {
  height: 18px;
  margin: 20px 0; }
  @media only screen and (min-width: 768px) {
    .receipt-item {
      margin: 25px 0; } }
  @media only screen and (min-width: 1280px) {
    .receipt-item {
      margin: 30px 0; } }
  .receipt-item span {
    font-size: 14px; }
    @media only screen and (min-width: 768px) {
      .receipt-item span {
        font-size: 16px; } }

.receipt-item-name {
  float: left; }

.receipt-item-price {
  float: right; }

.cart-product {
  margin: 20px 0;
  height: 78px;
  font-size: 14px; }
  @media only screen and (min-width: 768px) {
    .cart-product {
      margin: 25px 0;
      height: 150px;
      font-size: 16px; } }
  @media only screen and (min-width: 1280px) {
    .cart-product {
      margin: 30px 0;
      font-size: 18px; } }
  .cart-product div {
    position: relative;
    height: 100%;
    vertical-align: top;
    display: inline-block; }
  .cart-product h4 {
    font-size: 16px; }
    @media only screen and (min-width: 768px) {
      .cart-product h4 {
        font-size: 20px; } }
    @media only screen and (min-width: 1280px) {
      .cart-product h4 {
        font-size: 28px; } }
  .cart-product p {
    margin: 3px 0; }
    @media only screen and (min-width: 768px) {
      .cart-product p {
        margin: 5px 0; } }
    @media only screen and (min-width: 1280px) {
      .cart-product p {
        margin: 7px 0; } }
  .cart-product a {
    margin: 3px 0;
    font-family: "Helvetica Neue", sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #CC1D39;
    text-decoration: none; }

.cart-product-image {
  width: 30%;
  min-width: 107px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.cart-product-info {
  margin-left: 15px; }

.cart-empty-warning {
  width: 100%;
  height: 156px;
  display: inline;
  vertical-align: middle;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 21px;
  color: #9B9B9B;
  text-align: center;
  top: 50vh;
  left: 0;
  position: absolute;
  transform: translateY(-50%); }
  @media only screen and (min-width: 1280px) {
    .cart-empty-warning {
      top: 339px; } }
  .cart-empty-warning div {
    width: 342px;
    margin: 0 auto 30px auto; }

/*# sourceMappingURL=cart.css.map */
