/* MIXIN: display div with pill style */
@mixin pillStyle($height) {
    height: $height;
    border-radius: ($height / 2);
}


/* MIXIN: give primary button style. This is just pill style
 * but, specifies no border. Mostly just exists for ease of code resuse
 */
@mixin btnPrimary($height) {
    @include pillStyle($height);
    border: none;
}


/* Apply pill button stle to only left or right sides as specified for the 
 * secondary button styles in the sketch file
 */
@mixin btnSecondaryRight($height) {
    height: $height;
    border-radius: 0px ($height / 2) ($height / 2) 0px;
    border: none;
}

@mixin btnSecondaryLeft($height) {
    height: $height;
    border-radius: ($height / 2) 0px 0px ($height / 2);
    border: none;
}


/* Lower the opacity to indicate an element is disabled*/
@mixin disabled($opacity: 0.3) {
    &[disabled] {
        opacity: $opacity;
    }
}

/* Change background-color on hover, but only when element is not disabled */
@mixin hoverActive($color) {
    &:hover, &:active {
        &:not([disabled]) {
            background-color: $color;
        }
    }
}

@mixin backImageStyling() {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@mixin backImage($image) {
    @include backImageStyling;
    background: url($image);
}