/* Color Variables */
$color-background:  #F5F5F5;
$app-blue:          #5E97D1;
$app-darkblue:      #407FC0;
$app-linkblue:      #407FC0;
$app-linkgrey:      #292929;
$app-remaininggrey: #9B9B9B;
$app-greyoverlay:   rgba(236, 240, 245, 0.75);
$app-linegrey:      #D8D8D8;
$app-warningred:    #CC1D39;

/* Font Variables */
$font-chivo: Chivo, sans-serif;
$font-helvetica-neue: 'Helvetica Neue', sans-serif;

/* Opacity Variables */
$disabled-opacity:  0.3;

/* Layout Variables */
$break-mobile: 768px; 
$break-tablet: 1280px;
$margin-cart-mobile: 20px;
$margin-cart-tablet: 25px;
$margin-cart-desktop: 30px;
$margin-cart-top-mobile: 18px;
$margin-cart-top-tablet: 25px;
$margin-cart-top-desktop: 30px;
$margin-mobile: 21px;
$margin-tablet: 25px;
$margin-desktop: 30px;
$product-height: 358px;
$image-height-mobile: 206px;