$color-background:	#F5F5F5;
$app-blue:			#5E97D1;
$app-darkblue: 		#407FC0;
$app-linkblue:		#407FC0;
$app-linkgrey:		#292929;

$font-chivo: Chivo, sans-serif;
$font-helvetiva-neue: 'Helvetica Neue', sans-serif;

$disabled-opacity:	0.3;