/* buttons.scss: Styling for the various buttons */
/* NOTE: I've noticed I've been using Chivo a lot.
 * Consider moving to some super class to avoid repeated font-family declarations
 */
/* Color Variables */
/* Font Variables */
/* Opacity Variables */
/* Layout Variables */
/* MIXIN: display div with pill style */
/* MIXIN: give primary button style. This is just pill style
 * but, specifies no border. Mostly just exists for ease of code resuse
 */
/* MIXIN: Apply pill button stle to only left or right sides as specified for the 
 * secondary button styles in the sketch file
 */
/* MIXIN: Lower the opacity to indicate an element is disabled*/
/* MIXIN: Change background-color on hover, but only when element is not disabled */
/* MIXIN: Standard Styling for div background images. Exists seperately from
 * the backImage mixin so background image url can be specified in the html
 * properties
 */
/* MIXIN: Standard Styling for div background images. Gives the div the background-image
 * specified by the path '$image'
 */
/* MIXIN: Standard thin horizontal rule stylings. Gives the rule the color specified by
 * $line-color
 */
/* General body styles. These should not need to be changed
 * for any reason by the application
 */
body {
  background-color: #F5F5F5;
  font-family: Chivo, sans-serif;
  font-weight: normal;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0px;
  padding: 0px; }

/* remove focus boxes around all buttons */
button {
  cursor: pointer;
  font-family: Chivo, sans-serif; }
  button:focus {
    outline: 0; }

/* styling the primary button style */
.btn-primary {
  background-color: #5E97D1;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: Chivo, sans-serif;
  width: 120px;
  margin: 0;
  padding: 0;
  height: 30px;
  border-radius: 15px;
  border: none; }
  .btn-primary:hover:not([disabled]), .btn-primary:active:not([disabled]) {
    background-color: #407FC0; }
  .btn-primary[disabled] {
    opacity: 0.3; }
  @media only screen and (min-width: 768px) {
    .btn-primary {
      font-size: 14px;
      width: 140px;
      height: 40px;
      border-radius: 20px;
      border: none; } }

/* styling the link button style. */
.btn-link {
  color: #292929;
  font-family: Chivo, sans-serif;
  font-size: 14px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* text only changes color on hover/active when not disabled */ }
  .btn-link:hover:not([disabled]), .btn-link:active:not([disabled]) {
    color: #407FC0; }
    .btn-link:hover:not([disabled]) svg path, .btn-link:active:not([disabled]) svg path {
      fill: #5E97D1; }
  .btn-link[disabled] {
    opacity: 0.3; }

/* Styling the Add/Subtract secondary buttons */
/* The styling somewhat relies on the container div that contains the buttons
 */
/* Styling the container div for the Add/subtract buttons. */
.add-subtract {
  width: 100%; }

/* placeholder selector for styles shared by both left and right secondary buttons */
.btn-secondary-left, .btn-secondary-right {
  text-align: center;
  vertical-align: top;
  background-color: #F5F5F5;
  width: 33%;
  display: inline-block; }
  .btn-secondary-left:hover:not([disabled]), .btn-secondary-right:hover:not([disabled]), .btn-secondary-left:active:not([disabled]), .btn-secondary-right:active:not([disabled]) {
    background-color: #5E97D1; }
  [disabled].btn-secondary-left, [disabled].btn-secondary-right {
    opacity: 0.3; }
  .btn-secondary-left svg, .btn-secondary-right svg {
    vertical-align: middle; }
  .btn-secondary-left svg, .btn-secondary-right svg {
    fill: white; }
  .btn-secondary-left:hover:not([disabled]) svg path, .btn-secondary-right:hover:not([disabled]) svg path, .btn-secondary-left:active:not([disabled]) svg path, .btn-secondary-right:active:not([disabled]) svg path {
    fill: white;
    stroke: white; }

/* left secondary button stylings. extends %btn-secondary and adds all left specific styles */
.btn-secondary-left {
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border: none; }
  .btn-secondary-left g {
    fill: white; }

/* right secondary button stylings. extends %btn-secondary and adds all right specific styles */
.btn-secondary-right {
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  border: none; }

/* styling the item count div */
.item-count {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 34%;
  height: 38px;
  /* total height of the container div and buttons are,
   * the border on top and bottom of the item-count div are each 1px, so
   * height of the count div must be 38 px to display perfectly inline with side buttons
   */
  background-color: white;
  line-height: 38px;
  /* line height same as div height to require text to display at vertical center */
  border-style: solid none solid none;
  border-color: #F5F5F5;
  border-width: 1px; }

/*# sourceMappingURL=buttons.css.map */
