/* buttons.scss: Styling for the various buttons */
/* NOTE: I've noticed I've been using Chivo a lot.
 * Consider moving to some super class to avoid repeated font-family declarations
 */
/* TODO: The desired breakpoint on the Sketch file seems to be 350px,
 * But my screen won't display at a width below 440px, so I made
 * the mobile break point larger so I could visibly see the break
 * and the display changes it causes. 
 * !!! REVERT BEFORE COMMITTING FINAL VERSION !!!
 */
/* MIXIN: display div with pill style */
/* MIXIN: give primary button style. This is just pill style
 * but, specifies no border. Mostly just exists for ease of code resuse
 */
/* Apply pill button stle to only left or right sides as specified for the 
 * secondary button styles in the sketch file
 */
/* Lower the opacity to indicate an element is disabled*/
/* Change background-color on hover, but only when element is not disabled */
/*
This mixin normally comes in handy for me so I'm just keeping it around 
@mixin backImage($image) {
    background: url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
*/
/* ===================== Page display Styles. ===================== */
/* These are irrelevant to the actual button styling CSS*/
section {
  margin: 50px 20px; }

/* ================================================================ */
/* remove focus boxes around all buttons */
button:focus {
  outline: 0; }

/* styling the primary button style */
.btn-primary {
  background-color: #5E97D1;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: Chivo, sans-serif;
  width: 120px;
  margin: 0;
  padding: 0;
  height: 30px;
  border-radius: 15px;
  border: none; }
  .btn-primary:hover:not([disabled]), .btn-primary:active:not([disabled]) {
    background-color: #407FC0; }
  .btn-primary[disabled] {
    opacity: 0.3; }
  @media only screen and (min-width: 450px) {
    .btn-primary {
      font-size: 14px;
      width: 140px;
      height: 40px;
      border-radius: 20px;
      border: none; } }

/* styling the link buttoon style.
 * NOTE: Consider changing the link from an <a> tag to... well anything else
 */
.btn-link {
  color: #292929;
  font-family: Chivo, sans-serif;
  font-size: 14px;
  text-decoration: none;
  /* text only changes color on hover/active when not disabled */ }
  .btn-link:hover:not([disabled]), .btn-link:active:not([disabled]) {
    color: #407FC0; }
  .btn-link[disabled] {
    opacity: 0.3; }

/*
Whoops didn't notice I left this old code block in.
.btn-secondary-right {
    background-color: $color-background;
    text-align: center;
    width: 95px;
    margin: 0;
    padding: 0;

    @include btnSecondaryRight(40px);
}

.btn-secondary-left {
    background-color: $color-background;
    text-align: center;
    width: 95px;
    margin: 0;
    padding: 0;

    @include btnSecondaryLeft(40px);
}
*/
/* Styling the Add/Subtract secondary buttons */
/* The styling somewhat relies on the container div that contains the buttons
 */
/* Styling the container div for the Add/subtract buttons. */
.add-subtract {
  width: 285px; }

/* placeholder selector for styles shared by both left and right secondary buttons */
.btn-secondary-left, .btn-secondary-right {
  background-color: #F5F5F5;
  width: 95px; }
  .btn-secondary-left:hover:not([disabled]), .btn-secondary-right:hover:not([disabled]), .btn-secondary-left:active:not([disabled]), .btn-secondary-right:active:not([disabled]) {
    background-color: #5E97D1; }
  [disabled].btn-secondary-left, [disabled].btn-secondary-right {
    opacity: 0.3; }

/* left secondary button stylings. extends %btn-secondary and adds all left specific styles */
.btn-secondary-left {
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  float: left; }

/* right secondary button stylings. extends %btn-secondary and adds all right specific styles */
.btn-secondary-right {
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  float: right; }

/* styling the item count div */
.item-count {
  text-align: center;
  width: 95px;
  height: 38px;
  /* total height of the container div and buttons are,
   * the border on top and bottom of the item-count div are each 1px, so
   * height of the count div must be 38 px to display perfectly inline with side buttons
   */
  background-color: white;
  float: left;
  line-height: 38px;
  /* line height same as div height to require text to display at vertical center */
  border-style: solid none solid none;
  border-color: #F5F5F5;
  border-width: 1px; }

/*# sourceMappingURL=buttons.css.map */
