/* buttons.scss: Styling for the various buttons */
/* NOTE: I've noticed I've been using Chivo a lot.
 * Consider moving to some super class to avoid repeated font-family declarations
 */

//@import "../variables.scss";
//@import "../mixins.scss";
//@import "../base.scss";

/* ===================== Page display Styles. ===================== */
/* These are irrelevant to the actual button styling CSS*/
section {
    margin: 50px 20px;
}

body {
    background-color: white;
}
/* ================================================================ */

/* styling the primary button style */
.btn-primary {
    background-color: $app-blue;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: $font-chivo;
    width: 120px;
    margin: 0;
    padding: 0;

    @include btnPrimary(30px);

    @include hoverActive($app-darkblue);

    @include disabled();

    @media only screen and (min-width: $break-mobile) {
        font-size: 14px;
        width: 140px;
        @include btnPrimary(40px);
    }

}

/* styling the link button style. */
.btn-link {
    color: $app-linkgrey;
    font-family: $font-chivo;
    font-size: 14px;
    text-decoration: none;

    /* text only changes color on hover/active when not disabled */
    &:hover, &:active {
        &:not([disabled]) {
            color: $app-linkblue;

            svg path {
                fill: $app-blue;
            }
        }
    }

    @include disabled();
}

/* Styling the Add/Subtract secondary buttons */
/* The styling somewhat relies on the container div that contains the buttons
 */

 /* Styling the container div for the Add/subtract buttons. */
.add-subtract {
    width: 100%;
    //@include pillStyle(40px);
    //border: solid $color-background 1px;
}

/* placeholder selector for styles shared by both left and right secondary buttons */
%btn-secondary {
    text-align: center;
    vertical-align: top;
    background-color: $color-background;
    width: 33%;
    display: inline-block;

    @include hoverActive($app-blue);

    @include disabled();

    svg {
        vertical-align: middle;
    }

    svg {
        fill: white;
    }

    &:hover, &:active {
        &:not([disabled]) {

            svg path {
                fill: white;
                stroke: white;
            }
        }
    }
}

/* left secondary button stylings. extends %btn-secondary and adds all left specific styles */
.btn-secondary-left{
    @extend %btn-secondary;
    @include btnSecondaryLeft(40px);

    g {
        fill: white;
    }
}

/* right secondary button stylings. extends %btn-secondary and adds all right specific styles */
.btn-secondary-right{
    @extend %btn-secondary;
    @include btnSecondaryRight(40px);
}

/* styling the item count div */
.item-count {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 34%;
    height: 38px;   /* total height of the container div and buttons are,
                     * the border on top and bottom of the item-count div are each 1px, so
                     * height of the count div must be 38 px to display perfectly inline with side buttons
                     */
    background-color: white;
    line-height: 38px; /* line height same as div height to require text to display at vertical center */
    border-style: solid none solid none;
    border-color: $color-background;
    border-width: 1px;
}

